.floatingButton {
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 2.5%;
    margin-bottom: 2.5%;
    background: #38383f;
    padding: 0.75%;
    border-radius: 100px;

}

.floatingImg {
    width: 32px;
    height: 32px;
    filter: invert(100%);
    pointer-events: none;
}

.floatingButton:hover {
    transform: scale(1.05);
    transition: 0.125s;
}

.floatingButton:active {
    transform: scale(1.1) translateY(-3px);
    transition: 0.09s;
}