.App {
  text-align: center;
  background-color: #38383f;
  color: white;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

@media (max-width: 300px) {
  .App {
    word-break: break-word;
  }
}
